@import "tailwindcss";

:root {
  --bg0: oklch(87.2% 0.01 258.338);
  --bg1: oklch(92.2% 0 0);
  --bg2: oklch(98.5% 0 0);
  --text-primary: oklch(14.5% 0 0);
  --text-muted: oklch(43.9% 0 0);
  --accent: oklch(54.1% 0.281 293.009);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* write your dark mode themes here--> */
  }
}

@theme inline {
  --color-bg-0: var(--bg0);
  --color-bg-1: var(--bg1);
  --color-bg-2: var(--bg2);
  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
body {
  background: var(--bg0);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
/*========================= */
/* MORE CURVED OPEN BOOK */
/* ========================= */

.book-container {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

/* Enhanced curve book shape */
.book-image,
.book-overlay {
  clip-path: polygon(
    0% 8%,
    0% 0%,
    45% 0%,
    50% 0%,
    55% 0%,
    100% 0%,
    100% 8%,

    100% 100%,
    100% 100%,
    55% 100%,
    50% 96%,
    45% 100%,
    0% 100%,
    0% 92%
  );
}

.book-overlay {
  background: rgba(0, 0, 0, 0.55);
}

/* Stronger center fold */
.book-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 150%;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #f1f1f1,
    #999,
    #555,
    #999,
    #f1f1f1
  );
  transform: translateX(-50%);
  z-index: 10;

}
